<!-- Validation failure messages -->
<% if @rating.errors.any? %>
  <% @rating.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit rating #<%= @rating.id %>
</h1>

<hr>

<!-- Form rating start -->
<form action="/update_rating/<%= @rating.id %>" method="post">
<!-- Form rating end -->

  <!-- Label and input for score start -->
  <div class="form-group">
    <label for="score">
      Score
    </label>

    <!-- Input for score start -->
    <input type="text" id="score" name="score" class="form-control" value="<%= @rating.score %>">
    <!-- Input for score end -->
  </div>
  <!-- Label and input for score end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for video_id start -->
  <div class="form-group">
    <label for="video_id">
      Video
    </label>

    <!-- Input for video_id start -->
    <%= select_tag(:video_id, options_from_collection_for_select(Video.all, :id, :title, @rating.video_id), :class => "form-control") %>
    <!-- Input for video_id end -->
  </div>
  <!-- Label and input for video_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
