<%= search_form_for @q, :class => collapse_search_form, :id => "videos_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :points, "Points" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :points_gteq, :class => "form-control", :placeholder => "Points greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :points_lteq, :class => "form-control", :placeholder => "Points less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :difficulty_cont, "Difficulty contains" %>
    <%= f.text_field :difficulty_cont, :class => "form-control", :placeholder => "Difficulty contains" %>
  </div>

  <div class="form-group">
    <%= f.label :length, "Length" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :length_gteq, :class => "form-control", :placeholder => "Length greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :length_lteq, :class => "form-control", :placeholder => "Length less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :score, "Rating Score" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :ratings_score_gteq, :class => "form-control", :placeholder => "Rating Score greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :ratings_score_lteq, :class => "form-control", :placeholder => "Rating Score less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_topic_cont, "Topic topic contains" %>
    <%= f.text_field :category_topic_cont, :class => "form-control", :placeholder => "Topic topic contains" %>
  </div>

  <div class="form-group">
    <%= f.label :instructor_name_cont, "Instructor name contains" %>
    <%= f.text_field :instructor_name_cont, :class => "form-control", :placeholder => "Instructor name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "User Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='usersgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :users_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "User Created at greater than or equal to", :data => {:target => '#usersgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#usersgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='userslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :users_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "User Created at less than or equal to", :data => {:target => '#userslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#userslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#usersgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#userslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#usersgteqcreated_atPicker').on("dp.change", function (e) {
              $('#userslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#userslteqcreated_atPicker').on("dp.change", function (e) {
              $('#usersgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/videos" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#videos_filters">
  Show filters
</a>
