<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All videos
    </h1>

    <a href="/videos/new" class="btn btn-block btn-outline-secondary">
      Add a new video
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "video_templates/videos_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Length
        </th>

        <th>
          Difficulty
        </th>

        <th>
          Points
        </th>

        <th>
          Instructor
        </th>

        <th>
          Topic
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @videos.each do |video| %>
      <tr>
        <td>
          <%= video.id %>
        </td>

        <td>
          <%= video.title %>
        </td>

        <td>
          <%= video.description %>
        </td>

        <td>
          <%= video.length %>
        </td>

        <td>
          <%= video.difficulty %>
        </td>

        <td>
          <%= video.points %>
        </td>

        <td>
          <% if video.instructor.present? %>
            <a href="/instructors/<%= video.instructor.id %>">
              <%= video.instructor.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if video.category.present? %>
            <a href="/topics/<%= video.category.id %>">
              <%= video.category.topic %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(video.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(video.updated_at) %> ago
        </td>

        <td>
          <a href="/videos/<%= video.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @videos, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
