<!-- Validation failure messages -->
<% if @video.present? %>
  <% if @video.errors.any? %>
    <% @video.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new video
</h1>


<hr>

<!-- Form video start -->
<form action="/create_video" method="post">
<!-- Form video end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @video.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"><%= @video.description %></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for length start -->
  <div class="form-group">
    <label for="length">
      Length
    </label>

    <!-- Input for length start -->
    <input type="text" id="length" name="length" class="form-control" value="<%= @video.length %>">
    <!-- Input for length end -->
  </div>
  <!-- Label and input for length end -->

  <!-- Label and input for difficulty start -->
  <div class="form-group">
    <label for="difficulty">
      Difficulty
    </label>

    <!-- Input for difficulty start -->
    <input type="text" id="difficulty" name="difficulty" class="form-control" value="<%= @video.difficulty %>">
    <!-- Input for difficulty end -->
  </div>
  <!-- Label and input for difficulty end -->

  <!-- Label and input for points start -->
  <div class="form-group">
    <label for="points">
      Points
    </label>

    <!-- Input for points start -->
    <input type="text" id="points" name="points" class="form-control" value="<%= @video.points %>">
    <!-- Input for points end -->
  </div>
  <!-- Label and input for points end -->

  <!-- Label and input for instructor_id start -->
  <div class="form-group">
    <label for="instructor_id">
      Instructor
    </label>

    <!-- Input for instructor_id start -->
    <%= select_tag(:instructor_id, options_from_collection_for_select(Instructor.all, :id, :name, @video.instructor_id), :class => "form-control") %>
    <!-- Input for instructor_id end -->
  </div>
  <!-- Label and input for instructor_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @video.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create video
  </button>
</form>

<hr>

<a href="/videos">
  Go back
</a>
