<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Video #<%= @video.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/videos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/videos/<%= @video.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit video
        </a>
      </div>

      <div class="col">
        <a href="/delete_video/<%= @video.id %>" class="btn btn-block btn-outline-secondary">
          Delete video
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @video.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @video.description %>
      </dd>

      <dt>
        Length
      </dt>
      <dd>
        <%= @video.length %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @video.difficulty %>
      </dd>

      <dt>
        Points
      </dt>
      <dd>
        <%= @video.points %>
      </dd>

      <dt>
        Instructor
      </dt>
      <dd>
        <% if @video.instructor.present? %>
          <a href="/instructors/<%= @video.instructor_id %>">
            <%= @video.instructor.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Topic
      </dt>
      <dd>
        <% if @video.category.present? %>
          <a href="/topics/<%= @video.topic_id %>">
            <%= @video.category.topic %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@video.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@video.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "video_templates/video_ratings" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "video_templates/video_users" %>
  </div>
</div>
