<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Topic #<%= @topic.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/topics" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/topics/<%= @topic.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit topic
        </a>
      </div>

      <div class="col">
        <a href="/delete_topic/<%= @topic.id %>" class="btn btn-block btn-outline-secondary">
          Delete topic
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Topic
      </dt>
      <dd>
        <%= @topic.topic %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@topic.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@topic.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "topic_templates/topic_videos" %>
  </div>
</div>
