<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All instructors
    </h1>

    <a href="/instructors/new" class="btn btn-block btn-outline-secondary">
      Add a new instructor
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "instructor_templates/instructors_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Image url
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @instructors.each do |instructor| %>
      <tr>
        <td>
          <%= instructor.id %>
        </td>

        <td>
          <%= instructor.name %>
        </td>

        <td>
          <%= instructor.image_url %>
        </td>

        <td>
          <%= time_ago_in_words(instructor.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(instructor.updated_at) %> ago
        </td>

        <td>
          <a href="/instructors/<%= instructor.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @instructors, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
