<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All instructors
    </h1>

    <a href="/instructors/new" class="btn btn-block btn-outline-secondary">
      Add a new instructor
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Image url
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @instructors.each do |instructor| %>
      <tr>
        <!-- Display instructor.id start -->
        <td>
          <%= instructor.id %>
        </td>
        <!-- Display instructor.id end -->

        <!-- Display instructor.name start -->
        <td>
          <%= instructor.name %>
        </td>
        <!-- Display instructor.name end -->

        <!-- Display instructor.image_url start -->
        <td>
          <%= instructor.image_url %>
        </td>
        <!-- Display instructor.image_url end -->

        <!-- Display instructor.created_at start -->
        <td>
          <%= time_ago_in_words(instructor.created_at) %> ago
        </td>
        <!-- Display instructor.created_at end -->

        <!-- Display instructor.updated_at start -->
        <td>
          <%= time_ago_in_words(instructor.updated_at) %> ago
        </td>
        <!-- Display instructor.updated_at end -->

        <td>
          <a href="/instructors/<%= instructor.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @instructors, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
