<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Instructor #<%= @instructor.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/instructors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link instructor start -->
      <div class="col">
        <a href="/instructors/<%= @instructor.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit instructor
        </a>
      </div>
      <!-- Edit link instructor end -->

      <!-- Delete link instructor start -->
      <div class="col">
        <a href="/delete_instructor/<%= @instructor.id %>" class="btn btn-block btn-outline-secondary">
          Delete instructor
        </a>
      </div>
      <!-- Delete link instructor end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @instructor.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Image url
      </dt>
      <!-- Display image_url start -->
      <dd>
        <%= @instructor.image_url %>
      </dd>
      <!-- Display image_url end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@instructor.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@instructor.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "instructor_templates/instructor_videos" %>
  </div>
</div>
<!-- Show Page Customization end -->
